@model List<UTNIMAS.Models.ProductosModels>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<div style="padding:0em 3em">

    <table id="tableProductos" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">PRODUCTOS_ID </th>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">NOMBRE_PRODUCTO </th>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">ID_PRECIO</th>
                <th scope="col" align="center" style="text-align:left; vertical-align: middle; font-family: Montserrat, sans-serif;">DESCRIP_PRODUCTO</th>
                <th scope="col" align="center" style="text-align:left; vertical-align: middle; font-family: Montserrat, sans-serif;">FOTO_PRODUCTO</th>
                <th scope="col" align="center" style="text-align:left; vertical-align: middle; font-family: Montserrat, sans-serif;">EMPRESA_ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Element in Model)
            {

                <tr>
                    <td style="text-align:center;">@Element.PRODUCTOS_ID</td>
                    <td style="text-align:center;">@Element.NOMBRE_PRODUCTO</td>
                    <td style="text-align:center;">@Element.ID_PRECIO</td>
                    <td style="text-align:center;">@Element.DESCRIP_PRODUCTO</td>
                    <td style="text-align:center;">@Element.FOTO_PRODUCTO</td>
                    <td style="text-align:center;">@Element.EMPRESA_ID</td>
                    <th>
                        <button style="text-align:center;margin-left:15px; vertical-align: middle; font-family: ottomat, sans-serif;" type="button" class="btn btn-danger float-left"><i class="fas fa-trash"></i></button>
                        <button style="margin-left:15px;background:#8db2d8;color:white;" height:3em" type="button" data-toggle="modal" data-target="#exampleModal1" class="btn  btn-color-custom right"><i class="fas fa-edit"></i></button>
                    </th>

                </tr>
            }

        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Custom/datatables.min.js"></script>
    <script src="~/Scripts/Custom/httpmethods.js"></script>
    <script src="~/Scripts/Custom/Productos.js"></script>
}
