@model List<UTNIMAS.Models.ProductosModels>
@{
    ViewBag.Title = "Productos";
}
<h2>Productos</h2>
@foreach (var Element in Model)
{
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <a href="#" onclick="loadinfimg(@("'"+Element.FOTO_PRODUCTO+"'"),@("'"+Element.NOMBRE_PRODUCTO+"'"),@("'"+Element.DESCRIP_PRODUCTO+"'"),@("'"+Element.EMPRESA_ID+"'"))" data-target="#modalIMG" data-toggle="modal" class="color-gray-darker c6 td-hover-none">
                    <div class="ba-0 ds-1">
                        <img id="ImgVista" alt="Card image cap" class="card-img-top" src="@Element.FOTO_PRODUCTO" alt="@Element.EMPRESA_ID" />
                        <div class="card-body">
                            <h4 class="card-title color-gray-darker">@Element.NOMBRE_PRODUCTO</h4>
                            <p class="card-text color-gray-darker">@Element.DESCRIP_PRODUCTO</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br/>
}
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <center>
                <img id="ImgModal"  style="width:80%;height:50%" src="" />
            </center>
           
            <div class="modal-footer">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del Producto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Nombre de Contacto</th>
                            <th scope="col">Nombre de la Empresa</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Sector</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="NombreProducto"></th>
                            <td id="Descripcion"></td>
                            <td id="Contacto"></td>
                            <td id="NombreEmpresa"></td>
                            <td id="Direccion"></td>
                            <td id="Sector"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-body mb-0 p-0">
                <img src="" alt="" style="width:100%">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Custom/datatables.min.js"></script>
    <script src="~/Scripts/Custom/httpmethods.js"></script>
    <script src="~/Scripts/Custom/Productos.js"></script>
}