@model UTNIMAS.Models.USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_PASSWORD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
