@model List<UTNIMAS.Models.ProductosModels>
@{
    int m = 0;
    ViewBag.Title = "INICIO";
    if (Model.Count() != 0)
    {
        m = Model.Count() - 1;
    }
}
    <div>
        <center><h1><a type="button" class="btn btn-info btn-lg" href="/Home/Index">INICIO</a></h1></center><br /><br />
        <center><h2 style="color:aliceblue;"><a type="button" class="btn btnIdeasCreativas btn-lg" style="color: black; border-color: white; background-color: white;" href="/Productos/Productos">IDEAS PRODUCTIVAS</a></h2></center><br /><br />
        <div class="card-deck">        
           @foreach (var Element in Model)
            {
                <div class="col-md-4">
                <a href="#" onclick="loadinfimg(@("'"+Element.FOTO_PRODUCTO+"'"),@("'"+Element.NOMBRE_PRODUCTO+"'"),@("'"+Element.DESCRIP_PRODUCTO+"'"),@("'"+Element.EMPRESA_ID+"'"))" data-target="#modalIMG" data-toggle="modal" class="color-gray-darker c6 td-hover-none">
                    <div class="ba-0 ds-1">
                        <img height="400" id="ImgVista" alt="Card image cap" class="card-img-top" src="@Element.FOTO_PRODUCTO" alt="@Element.EMPRESA_ID" />
                        <div style="background:white" class="card-body">
                            <h4 class="card-title color-gray-darker">@Element.NOMBRE_PRODUCTO</h4>
                            <p class="card-text color-gray-darker">@Element.DESCRIP_PRODUCTO</p>
                        </div>
                    </div>
                </a>
            </div>
             }   
        </div>
        <br /><br />
        <!--<img src="~/Content/Images/logo.png" aling="bottom" height="10%" width="10%" style="margin-top:500px;" />-->
        <a href="https://www.utn.ac.cr/content/vicerrector%C3%ADa-de-extensi%C3%B3n-y-acci%C3%B3n-social-veas" target="_blank">
            <img src="~/Content/Images/descarga.jpg" aling="bottom" height="15%" width="10%" style="position:absolute; bottom:1%;left:13%;margin-left:1em" />
        </a>
        <a href="https://www.imas.go.cr/" target="_blank">
            <img src="~/Content/Images/imas-hacienda.jpg" aling="bottom" height="15%" width="10%" style="position:absolute;bottom:1%;right:12px;" />
        </a>
    </div>
<script type="text/javascript">
    $(document).ready(function () {
        document.body.classList.add("imagenFondo");
    });
</script>
